* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body {
    background-color: #010101;
    color: #FFFFFF;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.navbar {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links a {
    margin-right: 50px;
}

.nav-links a:hover {
    color: #6674CC;
}

.navbar img{
    position: relative;
    right: 260px;
}

button {
    background-color: #6674CC;
    padding: 8px 24px;
    border-radius: 20px;
    border: 1px solid #010101;
    position: relative;
    left: 200px;
}

button a {
    font-weight: 700;
}


/* Cards */
.card {
    height: 400px;
    width: 80%;
    background-color: #171C24;
    border-radius: 30px;
    margin-top: 80px;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.card p {
    margin-top: 70px;
    margin-left: 30px;
    line-height: 25px;
}

.card p img {
    margin-left: 10px;
}

.name {
    font-size: 25px;
    position: relative;
    bottom: 30px;
}


/* footer */
.footer {
    margin-top: 100px;
    height: 400px;
    background-color: #202329;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.footer-logo {
    position: relative;
    bottom: 100px;
    right: 40px;
}

.quick-links, .shop, .connect {
    position: relative;
    bottom: 20px;
}

ul {
    list-style: none;
}

.quick-links {
    position: relative;
    bottom:45px;
}

.footer a {
    color: #ABAFB5;
}

.footer a:hover {
    color: #FFFFFF;
}

.quick-links a, .shop a  {
    line-height: 28px;
}

.quick-links p, .shop p, .connect p {
    font-size: 16px;
    margin-bottom: 20px;
}

.connect p {
    position: relative;
    bottom: 68px;
}

.connect img {
    position: relative;
    bottom: 60px;
    margin-right: 5px;
}

.copyright {
    height: 0px;
    background-color: #000000;
    text-align: center;
    position: relative;
    bottom: 50px;
    color: #FFFFFF;
}

.card:hover {
    scale: 1.1;
    transition: .9s ease-in-out;
}