.heading {
    font-size: 1.5rem;
}

.cartContainer {
    margin-top: 67px;
    width: 100%;
    height: 100%;
    background-color: #0f111104;
    display: flex;
    justify-content: space-around;
}

.cartList {
    width: 65%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.162);
}

.cartItem {
    list-style: none;
    display: flex;
    margin: 30px 0;
}

.cartItem img {
    height: 180px;
    object-fit: contain;
    width: 30%;
}

.productName {
    font-size: 1.1rem;
    font-weight: 500;
}

.productDescription {
    color: #555555;
}

.productPrice {
    font-size: 1.1rem;
    font-weight: 500;
}

select {
    width: 6rem;
}

.deleteLink {
    cursor: pointer;
    margin-left: 20px;
    font-weight: 500;
}

.subtotal {
    text-align: end;
    margin-right: 20px;
    font-weight: 600;
}

/* Right part  */

.total {
    width: 25%;
    height: 147px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.162);
    margin-top: 20px;
    text-align: center;
}

.proceedButton {
    width: 80%;
    outline: none;
    border-radius: 20px;
    padding: 8px 30px;
    background-color: rgb(255, 213, 0);
    border: 1px solid #FF9F00;
}

@media(max-width : 604px) {
    .cartContainer {
        flex-direction: column;
        align-items: center;
    }

    .cartList {
        width: 90%;
    }

    .total {
        width: 95%;
        margin-bottom: 50px;
    }

    .proceedButton {
        width: 50%;
    }
}

@media(max-width : 300px) {

}