.hamburgerIcon {
    display: none;
}

.hamburgerIcon .line {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px;
}

@media(max-width : 850px) {
    .hamburgerIcon {
        display: block;
    }
}