* {
    font-family: poppins;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}    