.container {
    width: 100%;
    margin-top: 100px;
    text-align: center;
}

.orderContainer {
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    margin: 10px; 
    margin-left: 120px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.162);
    margin-bottom: 30px;
}

.order {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-evenly;

}

.order img {
    width: 155px;
    height: 130px;
    object-fit: contain; 
}

.imageAndName {
    display: flex;
    width: 50%;
}

.order p {
    font-size: 1rem;
}

.reviewBtn {
    border: 1px solid #FB641B;
    background-color: #FB641B;
    color: #fff;
    border-radius: 8px;
    font-size: 13px;
    padding: 10px;
    font-weight: 600;
    margin-top: 10px;
}

.totalAmount {
    text-align: end;
    font-weight: 600;
}