.productPage {
    width: 100%;
    margin-top: 110px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 110px;
}

.productImage {
    width: 40%;
    text-align: center;
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.247);
}

.productImage img {
    height: 23rem; 
    max-width: 100%;
    object-fit: cover;
    padding: 20px;
}

/* Right Part */

.productDetails {
    position: relative;
    top: 50px;
}

.productName {
    color: #1F1F1F;
}

.productDescription, .productPrice {
    font-size: 1.1rem;
    color: #1F1F1F;
}

.productPrice {
    font-weight: 500;
}

.productCapacity {
    color: #666666;
    font-size: 0.9rem;
}

.inclusiveLine {
    font-size: 0.9rem;
    color: #666666;
    position: relative;
    bottom: 15px;
}

button:hover {
    cursor: pointer;
}

.cartBtn {
    background-color: #318616;
    color: #fff;
    border: 1px solid #318616;
    border-radius: 10px;
    font-size: 1.1rem;
    padding: 12px 20px;
    font-weight: 600;
}

.quantitySelector {
    margin-top: 20px;
}

@media (max-width: 565px) {
    .productPage {
        flex-direction: column;
        align-items: center;
    }

    .productImage {
        width: 60%;
    }

    .productImage img {
        height: 250px;
    }

    .btn {
        align-items: center;
        gap: 10px;
    }

    .btn button {
        width: 80%;
    }
    
    .productDetails {
        width: 100%;
    }

    .cartBtn {
        font-size: 0.9rem;
        width: 95%;
        margin-left: 2px;
    }
}