.productPage {
    margin-top: 130px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 150px;
}

.productImage img {
    height: 350px; 
    max-width: 100%;
    object-fit: cover;
}

.productPage p {
    font-size: 1.1rem;
}

.quantity {
    color: #666;
}

select {
    width: 160px;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin-top: 15px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

.quantitySelector {
    margin-right: 5px;
}

.btn {
    display: flex;
    gap: 20px;
}

button:hover {
    cursor: pointer;
}

.btn button {
    margin-top: 40px;
    outline: none;
    border-radius: 5px;
    padding: 8px 30px;
}

.cartBtn {
    background-color: #FF9F00;
    color: #fff;
    border: 1px solid #FF9F00;
    font-size: 1.1rem;
}

.buyBtn {
    background-color: #FB641B;
    color: #fff;
    border: 1px solid #FB641B;
    font-size: 1.1rem;
}

.quantitySelector {
    margin-top: 20px;
}



@media (max-width: 565px) {
    .productPage {
        flex-direction: column;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .productImage img {
        height: 250px;
    }

    h1 {
        font-size: 25px;
    }

    .productPage p {
        font-size: 1rem;
    }

    select {
        width: 160px;
        font-size: 0.9rem;
    }

    .btn {
        align-items: center;
        gap: 10px;
    }

    .btn button {
        width: 80%;
        padding: 10px;
    }

    .cartBtn, .buyBtn {
        font-size: 0.9rem;
    }
}