.productPage {
    width: 100%;
    margin-top: 130px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 150px;
}

.productImage {
    width: 30%;
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.587);
    border-radius: 8px;
}

.productImage img {
    height: 20rem; 
    max-width: 100%;
    object-fit: cover;
    padding: 20px;
}

.productDetails {
    width: 40%;
}

.productPage p {
    font-size: 1.1rem;
}

.productPrice {
    font-weight: 500;
}

.quantity {
    color: #666;
}

.btn {
    display: flex;
    gap: 20px;
}

button:hover {
    cursor: pointer;
}

.btn button {
    margin-top: 40px;
    outline: none;
    border-radius: 5px;
    padding: 8px 30px;
}

.cartBtn {
    background-color: #CC0000;
    color: #fff;
    border: 1px solid #CC0000;
    font-size: 1.1rem;
    padding: 12px 36px;
    font-weight: 600;

}

.quantitySelector {
    margin-top: 20px;
}

@media (max-width: 565px) {
    .productPage {
        flex-direction: column;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .productImage img {
        height: 250px;
    }

    h1 {
        font-size: 25px;
    }

    .productPage p {
        font-size: 1rem;
    }

    .btn {
        align-items: center;
        gap: 10px;
    }

    .btn button {
        width: 80%;
        padding: 10px;
    }

    .cartBtn {
        font-size: 0.9rem;
        width: 95%;
        margin-left: 2px;
    }
}