/* .rightContent {
    display: flex;
    gap: 20px;

}

.productItem {
    border: 1px solid grey;
    background-color: #fff;
}

.productName {
    text-align: center;
}

.priceAndCart {
    display: flex;
    justify-content: space-evenly;
}

.rightContent img {
    width: 200px;
    aspect-ratio: 1/1;
} */