.sidebarContainer {
    width: 28%;
    margin-top: 5px;
    background-color: #fff;
}
  
.sidebarList {
    list-style-type: none;
}
  
.sidebarItem {
    padding: 20px;
    margin-bottom: 2px;
    background-color: #fff;
    border-radius: 4px;
    color: #010101;
    font-size: 14px;
    cursor: pointer;
}

.sidebarItem:hover {
    background-color: #318616;
    color: #fff;
}

.sidebarItem.active {
    font-weight: bold;
    color: #007bff;
}
  